:root {
  --dark-logo-color:#000;
  --light-logo-color: #fff;
  --main-title-color: #212121;
  --second-title-color: #fff;
  --translucent-color: rgba(255, 255, 255, 0.6);
  --main-text-color: #757575;
  --highlighted-text-color: #2196f3;
  --main-bg-color: #e5e5e5;
  --second-bg-color: #f5f4fa;
  --third-bg-color: #2f303a;
  --fourth-bg-color: #fff;
  --fifth-bg-color: #2196f3;
}

.is_hidden {
  transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.visually_hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

@media screen and (max-width: 1199px) {
  .only_desktop {
    display: none;
  }
}

*,
*::after,
*::before {
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
  color: var(--main-title-color);
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.top_panel {
  display: flex;
  align-items: center;
  height: 60px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .top_panel {
    height: 80px;
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .top_panel {
    width: 1200px;
  }
}

.underline::after {
  content: '';
  opacity: 1;
  display: block;
  bottom: 0;
  cursor: pointer;
  width: 100%;
  height: 4px;
  margin-top: 32px;
  background-color: var(--fifth-bg-color);
  background-size: auto;
  border-radius: 2px;
}

.menu {
  display: none;
}

@media screen and (min-width: 768px) {
  .menu {
    display: flex;
  }
}

.top_panel__menu {
  margin-left: 88px;
  margin-top: 32px;
}

@media screen and (min-width: 1200px) {
  .top_panel__menu {
    margin-left: 93px;
  }
}

.menu__items {
  margin-left: 50px;
}

.menu__nav_text {
  transition: color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.menu__nav_text:hover, .menu__nav_text:focus {
  color: var(--highlighted-text-color);
}

.contacts {
  display: none;
}

@media screen and (min-width: 768px) {
  .contacts {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
  }
}

.top_panel__contacts {
  margin-left: 84px;
}

@media screen and (min-width: 1200px) {
  .top_panel__contacts {
    margin-left: 305px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__item:nth-child(2n) {
    margin-left: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts__item:nth-child(2n) {
    margin-top: 10px;
  }
}

.contacts_container__icon_mail {
  transition: fill cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  margin-right: 10px;
  width: 14px;
  height: 10px;
  fill: var(--main-text-color);
}

@media screen and (min-width: 1200px) {
  .contacts_container__icon_mail {
    width: 16px;
    height: 12px;
  }
}

.contacts_container__icon_phone {
  transition: fill cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  margin-right: 10px;
  fill: var(--main-text-color);
  width: 10px;
  height: 14px;
}

@media screen and (min-width: 1200px) {
  .contacts_container__icon_phone {
    width: 10px;
    height: 16px;
  }
}

.contacts_container {
  display: flex;
  height: 16px;
  align-items: center;
}

.contacts_container:hover .contacts_container__nav_text, .contacts_container:focus .contacts_container__nav_text {
  color: var(--highlighted-text-color);
}

.contacts_container:hover .contacts_container__icon_mail,
.contacts_container:hover .contacts_container__icon_phone, .contacts_container:focus .contacts_container__icon_mail,
.contacts_container:focus .contacts_container__icon_phone {
  fill: var(--highlighted-text-color);
}

.contacts_container__nav_text {
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
  letter-spacing: 0.02em;
  transition: color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

@media screen and (min-width: 1200px) {
  .contacts_container__nav_text {
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    letter-spacing: 0.02em;
  }
}

.menu_open_btn {
  width: 40px;
  height: 40px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  margin-left: auto;
}

.menu_open_btn .menu_open_btn_icon:hover, .menu_open_btn .menu_open_btn_icon:focus {
  fill: var(--highlighted-text-color);
}

@media screen and (min-width: 1200px) {
  .menu_open_btn {
    display: none;
  }
}

.menu_open_btn_icon {
  transition: fill, transform cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  fill: var(--main-title-color);
  height: 100%;
  width: 100%;
}

.line {
  border: 1px solid #ececec;
  width: 100%;
}

.mob_menu.is_hidden {
  transform: translate(50%, 0);
}

.mob_menu {
  transform: translate(0, 0);
  transition: transform 350ms;
  overflow-y: auto;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--fourth-bg-color);
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mob_menu__close_btn {
  position: absolute;
  top: 10px;
  left: calc(100% - 45px);
  width: 40px;
  height: 40px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.mob_menu__close_btn .close_btn_icon:hover, .mob_menu__close_btn .close_btn_icon:focus {
  fill: var(--highlighted-text-color);
  transform: rotate(90deg);
}

.close_btn_icon {
  transition: fill, transform cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  fill: var(--main-title-color);
  height: 100%;
  width: 100%;
}

.mob_menu__items {
  margin-top: 32px;
}

.mob_menu__text {
  transition: color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  font-size: 40px;
  line-height: 47px;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.mob_menu__text:hover, .mob_menu__text:focus {
  color: var(--highlighted-text-color);
}

.mob_contacts__tel {
  font-size: 34px;
  line-height: 40px;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--highlighted-text-color);
}

.mob_contacts__box {
  margin-top: 32px;
}

.mob_contacts__mail {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  letter-spacing: 0.02em;
  margin-top: 32px;
  color: var(--main-text-color);
}

.mob_menu__link_container {
  display: flex;
  margin-top: 64px;
}

.mob_menu__link_box {
  height: 22px;
  display: flex;
  align-items: center;
}

.mob_menu__link_box:nth-child(-n + 3)::after {
  content: "";
  width: 2px;
  height: 22px;
  background-color: rgba(33, 33, 33, 0.2);
  margin-left: 10px;
  margin-right: 10px;
}

.mob_menu__link {
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--highlighted-text-color);
}

.no_scroll {
  overflow: hidden;
}

.preview_section {
  margin: 0 auto;
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/preview/preview-mobile.jpg);
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .preview_section {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/preview/preview-mobile-2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .preview_section {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/preview/preview-tablet.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .preview_section {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/preview/preview-tablet-2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .preview_section {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/preview/preview-desktop.jpg);
    height: 600px;
    max-width: 1600px;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .preview_section {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/preview/preview-desktop-2x.jpg);
  }
}

.preview_container {
  width: 360px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .preview_container {
    width: 696px;
  }
}

.preview_container__title {
  font-size: 26px;
  line-height: 42px;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .preview_container__title {
    font-size: 44px;
    line-height: 60px;
    font-weight: 900;
    letter-spacing: 0.06em;
  }
}

.preview_container__title--light {
  color: var(--second-title-color);
}

.preview_container__btn {
  margin-top: 30px;
}

.good_qualities_section {
  margin-top: 60px;
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .good_qualities_section {
    margin-top: 94px;
    margin-bottom: 0;
  }
}

.good_qualities {
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .good_qualities {
    display: flex;
    flex-wrap: wrap;
  }
}

.good_quality {
  max-width: 450px;
}

@media screen and (min-width: 768px) {
  .good_quality {
    width: calc(100%/2 - 15px);
  }
}

@media screen and (min-width: 1200px) {
  .good_quality {
    width: calc(100%/4 - 23px);
  }
}

.good_qualities__good_quality {
  margin-bottom: 30px;
}

.good_qualities__good_quality:nth-last-child(-n + 1) {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .good_qualities__good_quality {
    margin-right: 30px;
  }
  .good_qualities__good_quality:nth-child(2n) {
    margin-right: 0;
  }
  .good_qualities__good_quality:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .good_qualities__good_quality {
    margin-right: 30px;
    margin-bottom: 0;
  }
  .good_qualities__good_quality:nth-last-child(-n + 1) {
    margin-right: 0;
  }
}

.good_quality__icon_container {
  margin-bottom: 30px;
}

.icon_container {
  width: 100%;
  height: 120px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon_container--light {
  background: var(--second-bg-color);
}

.good_quality__icon {
  width: 70px;
  height: 70px;
}

.good_quality__title {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 768px) {
  .good_quality__title {
    text-align: left;
  }
}

.good_quality__text {
  text-align: left;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  margin-top: 10px;
  max-width: 450px;
}

.good_quality__text--main {
  color: var(--main-text-color);
}

.what_we_do_box {
  position: relative;
  width: 370px;
  height: 294px;
  margin-right: 30px;
}

.what_we_do_box:nth-last-child(-n + 1) {
  margin-right: 0;
}

.what_we_do_box__title_container {
  top: 224px;
  position: absolute;
  justify-content: center;
  display: flex;
  align-items: center;
  height: 70px;
  width: 100%;
  background: rgba(47, 48, 58, 0.8);
}

.what_we_do_box__title {
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
}

.what_we_do_box__title--light {
  color: var(--second-title-color);
}

.our_team {
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .our_team {
    display: flex;
    flex-wrap: wrap;
  }
}

.our_team__box {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  max-width: 450px;
  margin-bottom: 30px;
}

.our_team__box:nth-last-child(-n + 1) {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .our_team__box {
    margin-right: 30px;
    width: calc(100%/2 - 15px);
  }
  .our_team__box:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
  .our_team__box:nth-child(2n) {
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .our_team__box {
    margin-bottom: 0;
    margin-right: 30px;
    width: calc(100%/4 - 23px);
  }
  .our_team__box:nth-last-child(-n + 1) {
    margin-right: 0;
  }
}

.our_team__box--light {
  background-color: var(--fourth-bg-color);
}

.our_team__text_box {
  padding-top: 30px;
  padding-bottom: 24px;
  padding-left: calc((100% - 206px) / 2);
  padding-right: calc((100% - 206px) / 2);
}

@media screen and (min-width: 768px) {
  .our_team__text_box {
    padding: 30px 74px 24px 74px;
  }
}

@media screen and (min-width: 1200px) {
  .our_team__text_box {
    padding: 30px 32px;
  }
}

.our_team__title {
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  letter-spacing: 0.03em;
}

.our_team__text {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  letter-spacing: 0.03em;
  margin-top: 10px;
}

.our_team__text--main {
  color: var(--main-text-color);
}

.our_team__icon_box {
  margin-top: 16px;
  justify-content: center;
}

.icon_link_item + .icon_link_item {
  margin-left: 10px;
}

.our_team__icon {
  transition: fill cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  fill: #AFB1B8;
  width: 20px;
  height: 20px;
}

.icon_circle:focus .our_team__icon,
.icon_circle:hover .our_team__icon {
  fill: var(--second-title-color);
}

.clients {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.clients__client {
  margin-bottom: 30px;
}

.clients__client:nth-child(2n - 1) {
  margin-right: 30px;
}

.clients__client:nth-last-child(-n + 2) {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients__client {
    margin-right: 30px;
  }
  .clients__client:nth-child(3n) {
    margin-right: 0;
  }
  .clients__client:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .clients__client {
    margin-bottom: 0;
    margin-right: 30px;
  }
  .clients__client:nth-last-child(-n + 1) {
    margin-right: 0;
  }
}

.client {
  width: calc((100% - 30px) / 2);
  height: 92px;
}

@media screen and (min-width: 768px) {
  .client {
    width: calc((100% - 60px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .client {
    width: calc((100% - 150px) / 6);
  }
}

.client__line {
  transition: border cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4%;
  border: 1px solid #AFB1B8;
  width: 100%;
  height: 100%;
}

.client__line:focus, .client__line:hover {
  border: 1px solid var(--fifth-bg-color);
}

.client__line:focus .client__icon,
.client__line:focus .client__icon, .client__line:hover .client__icon,
.client__line:hover .client__icon {
  fill: var(--fifth-bg-color);
}

.client__icon {
  transition: fill cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  fill: #AFB1B8;
  width: 100px;
  height: 60px;
}

.backdrop.is_hidden .modal {
  transform: translate(-50%, 0) scale(0.3);
}

.modal {
  background-color: var(--fourth-bg-color);
  position: absolute;
  width: calc(100% - 30px);
  max-width: 450px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 350ms;
  padding: 40px;
}

@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
    width: 528px;
    height: 581px;
  }
}

.modal__close_btn {
  position: absolute;
  left: calc(100% - 38px);
  top: 8px;
}

.modal__close_btn:focus .modal__close__icon_exit, .modal__close_btn:hover .modal__close__icon_exit {
  fill: var(--fifth-bg-color);
  transform: rotate(90deg);
}

@media screen and (min-width: 1200px) {
  .modal__close_btn {
    left: 490px;
  }
}

.modal__close__icon_exit {
  width: 11px;
  height: 11px;
  transition: fill, transform cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  fill: #000;
}

.modal__text {
  font-size: 20px;
  line-height: 23px;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 12px;
}

.modal__label {
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  letter-spacing: 0.01em;
  display: block;
}

.modal__label--main {
  color: var(--main-text-color);
}

.modal__input_wrap {
  position: relative;
  margin-top: 4px;
  margin-bottom: 10px;
}

.modal__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  letter-spacing: 0.01em;
  outline: none;
  color: var(--main-title-color);
  transition: border-color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.modal__input:focus {
  border: 1px solid #2196F3;
}

.modal__input:focus + .modal__input_icon {
  fill: var(--fifth-bg-color);
}

.modal__input_icon {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  transition: fill cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.modal__comment {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  margin-bottom: 20px;
  padding: 12px 16px;
  resize: none;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  letter-spacing: 0.01em;
  outline: none;
  transition: border-color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.modal__comment:focus {
  border: 1px solid #2196F3;
}

.modal__comment--main {
  color: var(--main-text-color);
}

.modal__comment--main::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal__checkbox_container {
  width: 425px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.modal__checkbox:checked + .modal__consent::before {
  border: none;
  background-image: url(../img/icons/icon-check.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.modal__consent {
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  letter-spacing: 0.03em;
  display: flex;
  align-items: center;
}

.modal__consent::before {
  content: '';
  width: 16px;
  height: 15px;
  cursor: pointer;
  border: 2px solid var(--main-title-color);
  border-radius: 3px;
  margin-right: 7px;
}

@media screen and (min-width: 1200px) {
  .modal__consent {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.03em;
  }
}

.modal__consent--main {
  color: var(--main-text-color);
}

.modal__underlined_text {
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: var(--highlighted-text-color);
  margin-left: 5px;
}

@media screen and (min-width: 1200px) {
  .modal__underlined_text {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.03em;
  }
}

.modal__btn_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__btn {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin-top: 30px;
}

.portfolio_btns {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

@media screen and (max-width: 767px) {
  .portfolio_btns {
    max-width: 362px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio_btns {
    width: 612px;
    margin: 0 auto 30px auto;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio_btns {
    margin-bottom: 50px;
  }
}

.portfolio_btns__btn_container {
  margin-left: 8px;
}

.portfolio_btns__btn_container:nth-child(3n - 2) {
  margin-left: 0;
}

@media screen and (max-width: 767px) {
  .portfolio_btns__btn_container:nth-last-child(-n + 2) {
    margin-top: 15px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio_btns__btn_container:nth-last-child(-n + 4) {
    margin-left: 8px;
  }
}

.portfolio_btns__btn {
  transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  cursor: pointer;
  padding-left: 22px;
  padding-right: 22px;
  border-radius: 4px;
  border: none;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  letter-spacing: 0.03em;
  height: 38px;
}

.portfolio_btns__btn:hover, .portfolio_btns__btn:focus {
  color: var(--second-title-color);
  background-color: var(--fifth-bg-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio_btns__btn--dim {
  background-color: var(--second-bg-color);
}

.project_list {
  display: flex;
  flex-wrap: wrap;
}

.project {
  transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  margin-bottom: 30px;
  text-align: left;
  height: 404px;
  width: 450px;
  border: 1px solid #eeeeee;
}

.project:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project:hover .project__top_text {
  transform: translateY(0%);
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .project {
    height: 440px;
    width: calc((100% - 30px) / 2);
  }
  .project:nth-child(2n - 1) {
    margin-right: 30px;
  }
  .project:nth-child(-n + 8) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .project {
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
  }
  .project:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
  .project:nth-child(3n) {
    margin-right: 0;
  }
}

.project__picture_box {
  position: relative;
  overflow: hidden;
  height: 294px;
}

.project__picture {
  width: 100%;
  height: 100%;
}

.project__top_text {
  display: flex;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
}

.project__text_box {
  padding: 20px 24px;
}

.project__title {
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
}

.project__text {
  color: var(--main-text-color);
  margin-top: 4px;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
}

#bottom_panel {
  background-color: var(--third-bg-color);
  width: 100%;
}

footer .container {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  footer .container {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  footer .container {
    text-align: left;
  }
}

.bottom_panel__adress {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.03em;
  margin-top: 20px;
  color: var(--second-title-color);
}

.bottom_panel__contacts_item {
  margin-top: 9px;
}

.bottom_panel__contacts {
  transition: color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: var(--translucent-color);
}

.bottom_panel__contacts:focus, .bottom_panel__contacts:hover {
  color: var(--second-title-color);
}

.join_us_container {
  width: 206px;
  display: flex;
  flex-direction: column;
}

.bottom_panel__join_us_container {
  margin: 60px auto 0 auto;
}

@media screen and (min-width: 768px) {
  .bottom_panel__join_us_container {
    margin-top: 5px;
    margin-left: 165px;
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .bottom_panel__join_us_container {
    margin-top: 12px;
    margin-left: 70px;
  }
}

.bottom_panel__title {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.bottom_panel__title--light {
  color: var(--second-title-color);
}

.bottom_panel__icon_box {
  margin-top: 20px;
}

.bottom_panel__icon_circle {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.icon_circle--dark {
  background-color: rgba(255, 255, 255, 0.1);
}

.bottom_panel__icon {
  fill: var(--fourth-bg-color);
  width: 20px;
  height: 20px;
}

.subscribe_container {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .subscribe_container {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe_container {
    width: 570px;
  }
}

.bottom_panel__subscribe_container {
  margin-top: 60px;
}

@media screen and (min-width: 1200px) {
  .bottom_panel__subscribe_container {
    margin-top: 12px;
    margin-left: 93px;
  }
}

.bottom_panel__input_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.bottom_panel__input {
  transition: border-color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: none;
  padding-left: 16px;
  outline: none;
  caret-color: rgba(255, 255, 255, 0.3);
  color: var(--second-title-color);
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 0.03em;
}

.bottom_panel__input:focus {
  border: 1px solid var(--second-title-color);
}

.bottom_panel__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 1200px) {
  .bottom_panel__input {
    width: 358px;
  }
}

.bottom_panel__btn {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

@media screen and (min-width: 1200px) {
  .bottom_panel__btn {
    margin-top: 0;
    margin-left: 12px;
  }
}

.subscribe_icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.btn {
  border: none;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  letter-spacing: 0.06em;
}

.btn--light {
  background-color: var(--fifth-bg-color);
  color: var(--second-title-color);
}

.close_btn {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.close_btn--light {
  background: #FFFFFF;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  text-align: center;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

.section--dark {
  background-color: var(--second-bg-color);
}

.icon_circle {
  transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.icon_circle:hover, .icon_circle:focus {
  background-color: var(--fifth-bg-color);
  transform: scale(1.2);
}

.nav_text {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.nav_text--dim {
  color: var(--main-text-color);
}

.top_text {
  position: absolute;
  top: 0;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms linear;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 0.03em;
}

.top_text--light {
  color: var(--second-title-color);
  background-color: rgba(33, 150, 243, 0.9);
}

.studio_title {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .studio_title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.03em;
  }
}

.backdrop {
  transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}

.list, .our_team__icon_box, .bottom_panel__icon_box {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway";
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 31px;
    font-weight: 700;
    letter-spacing: 0.03em;
  }
}

.logo--dark {
  color: var(--dark-logo-color);
}

.logo--light {
  color: var(--light-logo-color);
}

.logo--highlighting {
  font-family: "Raleway";
  color: var(--highlighted-text-color);
}
/*# sourceMappingURL=main.css.map */