.section {
  padding-top: 60px;
  padding-bottom: 60px;
  @include desktop {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}
.section--dark{
  background-color:var(--second-bg-color);
}