:root {
    --dark-logo-color:#000;
    --light-logo-color: #fff;
    --main-title-color: #212121;
    --second-title-color: #fff;
    --translucent-color: rgba(255, 255, 255, 0.6);
    --main-text-color: #757575;
    --highlighted-text-color: #2196f3;
    --main-bg-color: #e5e5e5;
    --second-bg-color: #f5f4fa;
    --third-bg-color: #2f303a;
    --fourth-bg-color: #fff;
    --fifth-bg-color: #2196f3;
}